body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 15px;
}

p{
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}

h1{
  font-family: 'Big Shoulders Display', cursive;
  color: hsl(0, 0%, 95%);
  margin-top: 30px;
  font-size: 35px;

}

button{
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 0 10px 40px 20px;
  border-width: 0;
  width: 50%;
  height: 40px;
  margin: 10px 0 40px 30px;

}

img{
  margin-top: 30px;
}

.container-fluid{
  height: 65%;
  width: 65% ;
}

.card-header{
  border-bottom: 0;
  margin-left: 20px;

}

.card-body{
  width: 80%;
  margin-left: 20px;
}

.ch1{
  background-color: hsl(31, 77%, 52%);

}

.ch2{
    background-color: hsl(184, 100%, 22%) ;
}

.ch3{
  background-color: hsl(179, 100%, 13%) ;
}

.card1{
  background-color:  hsl(31, 77%, 52%) ;

}

.card2{
  background-color: hsl(184, 100%, 22%) ;
}

.card3{
  background-color: hsl(179, 100%, 13%) ;
}

.button1{
   color: hsl(31, 77%, 52%) ;
   border-radius: 28px;
   font-size: 15px;


}

.button2{
   color: hsl(184, 100%, 22%) ;
   border-radius: 28px;
   font-size: 15px;

}

.button3{
   color: hsl(179, 100%, 13%) ;
   border-radius: 28px;
   font-size: 15px;

}

.button1:hover {
  background-color: hsl(31, 77%, 52%) ;
  color: #fff;
  border-width: 1px;
  border: 2px solid #fff;
}

.button2:hover{
  background-color: hsl(184, 100%, 22%) ;
  color: #fff;
  border-width: 1px;
  border: 2px solid #fff;
}

.button3:hover{
  background-color: hsl(179, 100%, 13%) ;
  color: #fff;
  border-width: 1px;
  border: 2px solid #fff;
}

@media only screen and (max-width:930px)
{
  button{
    height: 50px;
    width: 60%;
  }
